* {
    box-sizing: border-box;
}

body {
    background-color: #49a30050;
    font-family: "Poppins", sans-serif;
}

main {
    padding: 0 16px;
}

.title {
    font-size: 3rem;
    /* 64px */
    color: #48A300;
    text-align: center;
}

.title span {
    color: #61481C;
}

.app-container {
    background-color: #FBFBFB;
    max-width: 660px;
    margin-inline: auto;
    border-radius: 15px;
    padding: 16px 30px;
    box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sun-icon {
    vertical-align: middle;
    margin-left: 10px;
}

.progress-label {
    font-size: 14px;
    color: #858585;
    margin-bottom: 20px;
}

.progrss-bar {
    height: 30px;
    background-color: #49a30050;
    border-radius: 15px;
    overflow: hidden;
}

.progress-value {
    width: 0;
    height: 100%;
    background-color: #48A300;
    border-radius: 15px;
    font-weight: 500;
    font-size: 10px;
    color: #EEFFE0;
    display: flex;
    align-items: center;
    overflow: hidden;
    transition: width .75s ease-in-out;
}

.progress-value span {
    padding-left: 20px;
    min-width: max-content;
}

.error-label {
    color: #FF5151;
    font-size: 14px;
    margin-block: 15px;
    opacity: 0;
}

.show-error .error-label {
    opacity: 1;
}

.goal-container {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    height: 82px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    background-color: white;
    margin-bottom: 30px;
}

.custom-checkbox {
    width: 24px;
    height: 24px;
    border: 2px solid rgba(97, 72, 28, 0.3);
    border-radius: 50%;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.check-icon {
    display: none;
}

.goal-input {
    padding-left: 22px;
    font-family: inherit;
    font-size: 16px;
    border: none;
    outline: none;
    align-self: stretch;
    width: 100%;
    font-weight: 500;
}

.goal-input::placeholder {
    color: #D9D9D9;
}

.quote {
    font-weight: 500;
    text-align: center;
}

.made-by {
    font-weight: 500;
    font-size: 11px;
    text-align: center;
    color: #858585;
    margin-top: 50px;
}

.completed .custom-checkbox {
    background-color: #48A300;
    border-color: #48A300;
}

.completed .check-icon {
    display: block;
}

.completed .goal-input {
    color: #48A300;
    text-decoration: line-through;
}

@media (max-width: 768px) {
    .title {
        font-size: 2rem;
    }

    .app-container {
        padding: 12px 22px;
        /* Need to change after end!!*/
    }

    .goal-container {
        height: 60px;
        margin-bottom: 22px;
        border-radius: 12px;
    }

    .custom-checkbox {
        height: 20px;
        width: 20px;
    }

    .made-by {
        margin-top: 30px;
    }

    .progrss-bar {
        height: 24px;
    }
}